# Core
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2

# Deep Learning
tensorflow==2.16.1
keras-tuner==1.4.6

# Model Selection & Tuning
keras==3.3.3

